@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 97%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 330 80% 70%;
    --primary-foreground: 210 40% 98%;
    --secondary: 183 80% 50%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 330 80% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 14% 20%; /* Fondo más claro */
    --foreground: 210 40% 98%;
    --card: 222.2 14% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 14% 20%;
    --popover-foreground: 210 40% 98%;
    --primary: 183 80% 50%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 330 80% 70%;
    --secondary-foreground: 210 40% 98%;

    /* Ajustes para mejor contraste */
    --muted: 217.2 10% 30%; /* Más claro para mejor contraste */
    --muted-foreground: 215 20.2% 75%; /* Ajustado para un buen contraste */
    --accent: 217.2 10% 30%; /* Color de acento más claro */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 10% 35%; /* Borde más claro */
    --input: 217.2 10% 35%; /* Color de input más claro */
    --ring: 183 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}